/* basic */
.bg-main-color {
background-color: var(--main-color);
}

/* hero */
.hero.conteiner {
    padding-bottom: 20px;
}
.hero > .short {
    text-align: center;
}
.hero img {
    height: 30px;
    margin-bottom: var(--big-gap);

}
.hero h1 {
    display: inline-block;
    width: 100%;
    color: black;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: var(--gap);
}
.hero p {
    display: inline-block;
    width: 100%;
    color: grey;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: var(--big-gap);
}
.hero .clock {
    margin-bottom: var(--big-gap);
}
.hero .form {
    margin-bottom: var(--gap);
}

/* main */

main h2 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: black;
    margin-bottom: var(--gap);
}
main p {
    font-size: 15px;
    line-height: 25px;
    color: grey;
    margin-bottom: var(--gap);
}
main p > a {
    color: var(--buton-color);
    text-decoration: none;
}
main p > a:hover {
    text-decoration: underline;
}

/* footer */
footer.conteiner {
padding-top: 0;

}